[submodule "puppet/modules/phpunit"]
	path = puppet/modules/phpunit
	url = https://github.com/andrew-kandels/puppet-phpunit.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
